[submodule "starling"]
  path = starling
  url = ssh://git@github.com/swift-nav/starling.git
[submodule "ChibiOS-RT"]
  path = ChibiOS
  url = ssh://git@github.com/swift-nav/ChibiOS
[submodule "libsbp"]
  path = libsbp
  url = ssh://git@github.com/swift-nav/libsbp.git
[submodule "open-amp"]
  path = open-amp
  url = ssh://git@github.com/swift-nav/open-amp.git
[submodule "third_party/googletest"]
  path = third_party/googletest
  url = git@github.com:google/googletest
[submodule "libsettings"]
	path = libsettings
	url = git@github.com:swift-nav/libsettings.git
