# Download and install arm-gcc compiler and add to path. This doesn't
# run if already have it: i.e., if gcc-arm-none is already in your
# PATH after sys_deps.yml.

- file: state=directory path=~/gcc-arm-none-eabi

- name: Download and unpack gcc-arm utilities.
  unarchive:
    src: https://github.com/swift-nav/swift-toolchains/releases/download/pfwp_mac_toolchain/gcc-arm-none-eabi-6-2017-q2-update-mac.tar.bz2
    remote_src: yes
    dest: ~/gcc-arm-none-eabi
    extra_opts: '--strip-components=1'

- name: Check bash profile.
  stat: path=~/.bash_profile
  register: bash_profile_present

- name: Add arm-gcc directory to PATH
  when: bash_profile_present.stat.exists
  lineinfile:
    path: ~/.bash_profile
    line: 'export PATH=$PATH:$HOME/gcc-arm-none-eabi/bin'
